<%- include('partials/header'); -%>

<header>
  <div class="interview">
    <img src="../assets/interview.jpeg" alt="">
  </div>
  <div>
    <a href="/programming">Programming</a>
    <a style="display: block;" href="/experience">Interview Experience</a>
  </div>
</header>

<%- include('partials/footer'); -%>
