body{
  background: #2ECC71;
  font-size: 48px;
}
form{
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  width: 360px;
  background: white;
  font-family: georgia;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
}
input{
  padding: 4px 6px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
  font-size: 0.6em;
  font-family: verdana;
}
label{
  display: block;
  margin: 20px 0 10px;
  color: #4E5EED;
  font-family: georgia;
}
button{
  margin-top: 30px;
  border-radius: 36px;
  border: 0;
  font-weight: 700;
  background: #3245F3;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
footer{
  text-align: center;
  margin-top: 120px;
  color: #CDCED2;
  font-size: 0.6em;
}
.error{
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.6em;
  font-weight: normal;
}
a:hover{
  background-color: #ABF2F2;
}
sup{color: #FF0000;}
h4{color: #4E5EED; font-family: georgia; text-align: center;}
p{text-align: center; color: #CDCED2;}
h1{font-family: georgia; font-style: italic;}
header{
  display: flex;
  align-items: center;
}
ul{
  font-family: georgia;
  list-style-type: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  margin-left: 20px;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.button{
  background: #fff;
  padding: 10px 15px;
  color: #4E5EED;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
  margin-top: 25px;
  text-decoration: none;
  transition: 0.3s
}
.popup{
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.popup-content{
  height: 250px;
  width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.close{
  position: absolute;
  top: -15px;
  right: -15px;
  background: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
  cursor: pointer;
}
.pop{
  margin: 20px auto;
  display: block;
  width: 50%;
  padding: 8px;
  border: 1px solid gray;
}
